html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}
.map-popover {
  max-width: 400px;
  margin: 15px 5px;
}
.map-popover p:last-child {
  text-align: right;
  padding: 2px;
  font-weight: bold;
}
#info {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: #fffd;
  padding: 6px;
  border: 1px solid #666;
  border-radius: 4px;
  font-size: smaller;
}
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
