html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  width: 100%;
}
#info {
  position: absolute;
  margin: 4px;
  padding: 8px;
  background-color: #eeec;
  border: 1px solid #111;
  border-radius: 4px;
  z-index: 1;
}
